if BOARD_WATCHY_ESP32_PROCPU

config GPIO_HOGS_INIT_PRIORITY
	default 70

config MFD_INIT_PRIORITY
	default 70

config REGULATOR_AXP192_AXP2101_INIT_PRIORITY
	default 71

config GPIO_AXP192_INIT_PRIORITY
	default 72

config REGULATOR_FIXED_INIT_PRIORITY
	default 75

endif # BOARD_WATCHY_ESP32_PROCPU
